.logoclass {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 20px;
    margin-top:10px;
}

#logo {
    width: 40px;
    /* Ancho del logo */
    height: auto;
}